body{
    font-family: Arial, Helvetica, sans-serif;
}

#conteinerFormulario{
    border:1px solid #aaa;
    padding:10px;
    width:300px;
    
 *{
     display:block;
     margin-bottom: 5px;
 }
 
 input{
     height:25px;
     width:80%;
     border-radius:5px;
     border:1px solid #ccc;
     font-size:100%;
     margin-bottom: 10px;
 }

 button{
     color:white;
     background-color: blue;
     font-size:120%;
     font-weight: bold;
     padding: 10px;
     border-radius:5px;
 }
}

span{
    font-weight: bold;
}


/*
body{
    border:solid;
    border-width:2px;
    width:40%;
}
.leituraDados {

    font-family: Arial, bold, sans-serif;
    border:4px;

    * {
        display: block;
        margin-bottom: 5px;
    }

    input {
        font-size: 110%;
        height: 15px;
        border-radius: 5px;
        border: 1px solid #bbbbbb;
        padding: 3px;
    }

    button {
        font-size: 100%;
        background-color: blue;
        color: white;
        border-top:15px;
        border-radius: 5px;
        padding: 10px;
    }
}*/